<h1>プロフィール</h1>
<p>
    <%= current_user.name %><br>
    <h2>年齢</h2>
    <%= current_user.age %><br>
    <h2>メールアドレス</h2>
    <%= current_user.email %>
</p>
<h2><%= link_to "編集情報", "/users/edit" %></h2>
